.body{
    top: 29%;
    width:101%;
    left:-1%;
    background-color: #ffffff;
    position: absolute;
}

.bodyContentTitle{
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    height: 30px;
    text-align: center;
    left:0;
    width:100%;
    position: absolute;
}

.searchField{
    height: 100%;
    width:30%;
    position:absolute;
    font-size: 16px;
    left:25%;
    border:none;
    border-top:black 1px solid;
    border-bottom:black 1px solid;
    border-right:black 1px solid;
    outline: none;
    border-radius: 1px;
}


.searchIcon{
    position:absolute;
    width:3%;
    border-radius: 1px;
    height: 105%;
    left:22%;
    border: black 1px solid;
    border-right: none;
}