.contentBubble{
    width: 1170px;
    border-radius: 50px;
    background-color: #75c46e;
    height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#ffffff;
    padding-left:30px;
}

.contentTerm{
    width: 1170px;
    border-radius: 50px;
    background-color: #75c46e;
    height: 70px;
    display:flex;
    align-items: center;
    color:#ffffff;
    padding-left:30px;
}


.lawBubbleName{
    font-size: 24px;
    background-color: #75c46e;
    font-family: 'Monserrat',sans-serif;
}

.lawBubbleDownloadsCount{
    text-align: center;
    padding-top:11px;
    font-size: 24px;
    padding-bottom: 30px;
    background-color: #75c46e;
    font-family: 'Monserrat',sans-serif;
}

.documentContent{
    display: flex;
    padding-right: 50px;
    gap:10px;
    height: 70px;
}
.lawBubbleDownloadButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-bottom: 30px;
    text-align: center;
    width:100px;
    background-color: #75c46e;
    font-family: 'Monserrat',sans-serif;
}

.lawBubbleDownloadButton:hover{
    background-color: #8b9d70;
}
.lawBubbleDownloadButton:active{
    background-color: black;
}


.termsBubbleName{
    font-size: 16px;
    width:250px;
    padding-left: 11px;
    background-color:#75c46e;
    font-family: 'Monserrat',sans-serif;
}

.termsBubbleDefinition{
    font-size: 16px;
    width:500px;
    background-color:#75c46e;
    font-family: 'Monserrat',sans-serif;
}

.termsBubbleDocument{
    font-size: 16px;
    width:250px;
    background-color:#75c46e;
    font-family: 'Monserrat',sans-serif;
}

.termsBubbleDownloadButton{
    display:flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    width:100px;
    height: 50px;
    background-color:#75c46e;
    font-family: 'Monserrat',sans-serif;
}

.termsBubbleDownloadButton:hover{
    background-color: #8b9d70;
}
.termsBubbleDownloadButton:active{
    background-color: black;
}
.termsBubbleDownloadButton:active{
    background-color: black;
}