.contentBubble{
    width: 1170px;
    border-radius: 50px;
    background-color: #75c46e;
    height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#ffffff;
    padding-left:30px;
}

.lawBubbleName{
    font-size: 24px;
    background-color: #75c46e;
    font-family: 'Monserrat',sans-serif;
}

.lawBubbleDownloadsCount{
    text-align: center;
    padding-top:11px;
    font-size: 24px;
    padding-bottom: 30px;
    background-color: #75c46e;
    font-family: 'Monserrat',sans-serif;
}

.documentContent{
    display: flex;
    padding-right: 50px;
    gap:10px;
    height: 70px;
}
.lawBubbleDownloadButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-bottom: 30px;
    text-align: center;
    width:100px;
    background-color: #75c46e;
    font-family: 'Monserrat',sans-serif;
}

.lawBubbleDownloadButton:hover{
    background-color: #8b9d70;
}
.lawBubbleDownloadButton:active{
    background-color: black;
}


.termsBubbleName{
    padding-top: 15px;
    position:absolute;
    height: 70%;
    font-size: 16px;
    left:5%;
    width:25%;
    background-color:#C4E591;
    font-family: 'Monserrat',sans-serif;
}

.termsBubbleDefinition{
    padding-top: 15px;
    position:absolute;
    height: 70%;
    font-size: 16px;
    left:30%;
    width:40%;
    background-color:#C4E591;
    font-family: 'Monserrat',sans-serif;
}

.termsBubbleDocument{
    position:absolute;
    height: 100%;
    font-size: 16px;
    left:70%;
    width:15%;
    background-color:#C4E591;
    font-family: 'Monserrat',sans-serif;
}

.termsBubbleDownloadButton{
    position:absolute;
    height: 79%;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    left:85%;
    width:10%;
    background-color:#C4E591;
    font-family: 'Monserrat',sans-serif;
}

.termsBubbleDownloadButton:hover{
    background-color: #8b9d70;
}
.termsBubbleDownloadButton:active{
    background-color: black;
}
.termsBubbleDownloadButton:active{
    background-color: black;
}